
    button.icon{
        visibility: hidden;
    }
    .container{ 
        background-color: rgba(0, 0, 128, 0.377); 
        max-width: 600px;
        max-height: 800px;
        padding: 15px;  
        color: rgb(228, 185, 12);
        border-radius: 8px;
        margin: 15px auto 80px auto;
    }
    label{	   
	    display: flex;	
	    padding: 10px 0px;
	}    
    .button {
        background-color: rgba(0, 0, 128, 0.514);		
        margin:20px 0px;
	    padding:4px 7px;	
        font-weight: 600;
	    border:1px;
	    width:100px;
        color: rgb(228, 185, 12);
	}
    h2{
        text-align: center;
    }
    input{
        width: 100%;
        margin: 10px 0px;       
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.315);
        box-sizing: border-box;
        padding: 10px;
    } 
    .footer{
        background-color: rgba(0, 0, 128, 0.676);
        text-align: center;
        width: 100%;
        padding: 8px;
        margin: auto 0 0 0;
    }
    p{
        color: white;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
@media only screen and (max-width: 620px){  
    li{
        flex-direction: column;
        float: none;
    }
    .mobile-container {
        max-width: 400px;
        margin: auto;
        color: white;
        float: right;
    }   
    .header{
        height: 60px;
    }
    .topnav {
        background-color: rgba(0, 0, 128, 0.676);      
    }
    .topnav .header-menu {   
        right: 0;
        position: absolute;
        background-color: inherit;
        margin: 0 0;
        width: 100vw;
        left: 0;
        top: 60px;
        display: none;
    }
    button.icon{
        visibility: visible;
        margin: 5px 0px;

    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topnav button.icon {
        background-image: url('../assets/hamburger.png'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 30px; 
        height: 30px;
        padding: 0; 
        text-align: center; 
        line-height: 60px; 
        right: 0;
        top: 0; 
        bottom: 0;
        position: relative;
        border: tan;
        background-color: rgba(0, 0, 128, 0.676);
    }   
    .topnav button:hover {
        background-color: lightskyblue;
    }    
  }  

    @media only screen and (max-width: 991px){
    img{
        height: 90px;
        width: auto;
        margin: -20px 0px;
     }
    .container{
        width: 300px;
        height: 250px; 
    }
    .button{
        width: 70px;
        height: 45px;
    }
    .f{
        padding-top: 50px;
    }
}