<h1></h1>
<div class="container-kontakt">
    <form class="contact">
        <h2 class="form">Formularz kontaktowy: </h2>
        <input type="text" placeholder="Imię..." class="p1"><br>
        <input type="text" placeholder="Nazwisko..." class="p2"><br>
        <input type="text" placeholder="E-mail..." class="p3"><br>
        <textarea name="Napisz do nas" placeholder="Napisz do nas..." class="1"></textarea>
        <br>
    <select class="opcja">
        <option>Wybierz kierunek</option>
        <option value="Albania">Albania</option>
        <option value="Grecja">Grecja</option>
        <option value="Turcja">Turcja</option>
        <option value="Seszele">Seszele</option>
    </select><br>
    <a href="#">Prześlij</a>
    <a href="#">Resetuj</a> 
    </form>
</div>