<h1></h1>
<div class="container-offers">
    <a href="./opis.html"> 
        <div class="offer" id="o1">
        <div class="text">
            <h2 class="offers-h2">Hotel Casa Blue Luxury Resort ***** 3899 zł /os.</h2>
        </div>
        </div>
    </a>
   <a href="./opis.html">
        <div class="offer" id="o2">
        <div class="text">
            <h2 class="offers-h2">Hotel Fafa Premium ***** 1696 zł /os.</h2>
        </div>
        </div>
    </a>      
    <a href="./opis.html">
        <div class="offer" id="o3">
        <div class="text">
            <h2 class="offers-h2">Hotel Summer Village of Hippocrates ***** 2559 zł /os.</h2>
        </div>
        </div> 
    </a>       
    <a href="./opis.html">
        <div class="offer" id="o4">
        <div class="text">
            <h2 class="offers-h2">Hilton Seychelles Labriz Resort Spa ***** 6823 zł /os.</h2>
        </div>
        </div>
    </a>     
</div>