.footer{
    background-color: rgba(0, 0, 128, 0.676);
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: auto 0 0 0;
    &-copyrights{
        color: white;
        font-size: 12px;
        margin: 0px;
        padding: 0px;
    }
}