

.login{
    background-color: rgba(0, 0, 128, 0.377); 
    padding: 20px;  
    border-radius: 8px;
    margin: 30px auto 80px auto;
    max-width: 450px;
    height: 300px;
    label{	   
        display: flex;	
        padding: 10px 0px;
    } 
    h2{
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
        color: rgb(228, 185, 12);
    }
}  

.container-login{
    padding: 0px 30px;
    margin: 0 auto;
    .ps{
        margin-right: 88px;
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 7px;
        margin-right: 0;
    }
    a:hover{
        color: rgb(228, 185, 12);  
    }
    .lower{
        a{ 
            background-color: rgba(0, 0, 128, 0.767);	
            text-decoration: none;	
            margin:20px 0px;
            margin-top: 10px;
            margin-bottom: 30px;
            padding:10px 10px;	
            border-radius: 8px;          
            color: white;
            font-size: 13px; 
            display: block;
            text-align: center; 
            width: 100%;   
        }
        a:hover{
            color: rgb(228, 185, 12);  
        }
    }
}
input{
    width: 100%;
    margin: 10px 0px;       
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.315);
    box-sizing: border-box;
    padding: 10px;
}
@media only screen and (max-width: 500px){ 
    .container-login{
        .lower{
            a{
                margin: 10px 0px 10px;
            }
        }
        a{
            display: grid;
            width: 100%;
        }
    }

}