

#w1 {
    background-image: url('../assets/img/morze.jpg');
}
#w2 {
    background-image: url('../assets/img/morze2.jpg');
}
#w3 {
    background-image: url('../assets/img/x.jpg');
}
#w4{
    background-image: url('../assets/img/main4.jpeg');
}
.container{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; 
    margin: auto;
    min-height: 40vw;
    max-width: 1440px;
    padding: 0px 20px;
    a{
        text-decoration: none;
    }
}
.wrap{
    margin-bottom: 10px;   
    .block {
        display: flex;
        padding: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0px;
        margin-bottom: 0;
        button{
            color: white; 
            background-color: #000f58e1;
            border-radius: 10px;
            padding: 10px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            border:none;
            cursor:pointer;
            // opacity: 0;
            transition: box-shadow 0.3s;               
        }
    }
    h2 {
        color: white;
        text-decoration: none;
        background-color: #000000aa;
        padding: 25px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;       
    }
    .text{
        text-align: center;
        color: white;
        background-color:#000f58b0;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        h4{
            margin: 0;
        }
    }
}
.wrap:hover button{
    box-shadow: 4px 4px 8px black;
    // opacity:1;
} 
@media only screen and (max-width: 991px){
    .container{
        grid-template-columns: 100%;
        width: 100%;
    } 
    .block{
        height: 250px;
        button{
            width: 150px;
        }
    }
    .wrap{
        h2{
            padding: 20px;
            text-align: center;
        }      
    }
}
